.on-desktop {
  @apply w-screen h-screen fixed top-0 left-0 text-white z-[9999999999999999] flex flex-col space-y-6 items-center pt-6 pb-28;
  background: rgba(9, 9, 9, 0.848);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.on-desktop-apps {
  @apply grid grid-cols-7 grid-rows-4 justify-center items-center;
}

.on-desktop-app {
  @apply cursor-pointer flex flex-col items-center text-white text-sm space-y-2;

  .on-desktop-app-icon {
    @apply w-20 h-20 rounded-md overflow-hidden transform hover:scale-110 transition duration-150;

    img {
      @apply w-full h-full object-cover;
    }
  }
}

.on-desktop-tabs {
  @apply flex space-x-2 items-center justify-center;
}

.on-desktop-tab {
  @apply w-2.5 h-2.5 rounded-full bg-white/50 cursor-pointer transition duration-300;
}

.on-desktop-tab-active {
  @apply bg-white w-8;
}
